.App {
  text-align: center;
  background-color: #121212;
  color: white;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
}

header, .crypto-details, .crypto-list {
  width: 90%;
  margin: 0 auto;
}
